body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  height: auto;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.product-price {
  font-size: 20px;
  color: #E95A19;
  font-weight: bold;
}

.color-buttons, .gender-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.color-btn, .gender-btn {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

select {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.order-button {
  background-color: #25D366;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.order-button:hover {
  background-color: #1ebe57;
}

