body {
    font-family: 'Garet', sans-serif;
    font-weight: 800;
    padding: 0;
    margin: 0; 
    background-color: #21231F;
    color: #f5e6ca;
    overflow-x: hidden;
}

html {
    max-width: 1920px !important;
    
}

header {
    background-color: #21231F;
    color: #f5e6ca;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 93.3px;
    height: 94.1px;
    margin-right: 10px;
    vertical-align: middle;
}

header .logo-container {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 24px;
    text-align: left;
    margin: 0;
    margin-left: 1rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    display: flex;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav li a {
    text-decoration: none;
    font-family: "Garet", sans-serif;
    font-size: 19px;
    color: #f5e6ca;
}

nav li a:hover {
    color: #ff6600;
}

section {
    padding-top: 2rem;
    margin: 1rem;
    font-family: 'Hagrid', serif; 
    color: #f5e6ca;
}

section h2 {
     font-family: 'Garet', sans-serif;
    font-weight: 800;
    padding-bottom: 0.5rem;
    color: #f5e6ca;
}

main figure{
    width: 100vw; 
            height: auto; 
            object-fit: cover; 
            display: block; 
            margin: 0; 
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Garet', sans-serif;
    font-weight: 800;
    margin: 20px;
}

.item img {
    width: 169px;
    height: 154px;
}

.line1, .line2 {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: normal; 
    margin: 0;
    padding: 0; 
}

h2 {
    line-height: 1.2; 
}

h1.Garid {
    font-family: 'Garet', sans-serif;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

/* Estilos para a seção QUEM SOMOS */
.quem-somos h2 {
    font-family: 'Garet', sans-serif;
    font-weight: 800;
    font-size: 57.7px;
    color: #f5e6ca;
    margin-bottom: 20px;
    margin: 1rem;
}

.quem-somos p {
    font-family: 'Garet', sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.6;
    color: #f5e6ca;
    width: 50%; 
    overflow: hidden;
    margin-bottom: 20px;
    margin: 1rem;
}

.quem-somos a {
    display: inline-block;
    font-family: 'Garet', sans-serif;
    font-weight: 800; /* ExtraBold */
    font-size: 29px;
    text-decoration: none;
    color: #fff;
    background-color: #e95a19;
    padding: 10px 20px;
    border-radius: 19px;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
    margin: 1rem;
}

.quem-somos a:hover {
    background-color: #f3ad12;
}

.quem-somos img {
    display: block;
    height: 350px;
    left: 400px;
    position: absolute;
    top: 1330px;
}
/* Estilos para a seção 'Nossa História' com fundo laranja e itens à esquerda com bolinha */
.nossa-historia {
    background-color: #e95a19; /* Fundo laranja */
    color: #f5e6ca;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinha o texto e a bolinha */
    gap: 2rem;
}

.nossa-historia .texto-historia {
    flex: 1;
    text-align: left; /* Alinhar texto à esquerda */
}

.nossa-historia h2 {
    font-family: 'Garet', sans-serif;
    font-weight: 800;
    font-size: 57.7px;
    color: #f5e6ca;
    margin-bottom: 20px;
    margin-left: 650px;
}

.nossa-historia p {
    font-family: 'Garet', sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.6;
    color: #f5e6ca;
    width: 50%; 
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 650px;
}

.nossa-historia img {
    display: block;
    height: 350px;
    right: 500px;
    position: absolute;
    top: 1720px;
}
.nossa-historia a
{
    display: inline-block;
    font-family: 'Garet', sans-serif;
    font-weight: 800; /* ExtraBold */
    font-size: 29px;
    text-decoration: none;
    color: #e95a19;
    background-color:#f5e6ca ;
    padding: 10px 20px;
    border-radius: 19px;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
    margin-left: 645px;
}

.nossa-historia a:hover {
    background-color: #f3ad12;
}


.o-que-e-boulder h2 {
    font-family: 'Garet', sans-serif;
    font-weight: 800;
    font-size: 57.7px;
    color: #f5e6ca;
    margin-bottom: 20px;
    margin: 1rem;
}

.o-que-e-boulder p {
    font-family: 'Garet', sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.6;
    color: #f5e6ca;
    width: 50%; 
    overflow: hidden;
    margin-bottom: 20px;
    margin: 1rem;
}

.o-que-e-boulder img {
    display: block;
    height: 350px;
    left: 400px;
    position: absolute;
    top: 2150px;
}



@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

:root{
    --color-esqueleto:#EFF3F5;
}



.cover{
    width: 100%;
    height: 500px;
    background: var(--color-esqueleto);
    margin-top: 20px;
}

.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__article .box__article{
    width: 200px;
    height: 250px;
    background: var(--color-esqueleto);
    margin: 20px;
}

.banner{
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
    height: 780px; 
    
    
}
.overlay-text {
    position: absolute;
    top: 40px; 
    left: 50px; 
    color: gold;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-style: italic;
  }


  

.slides{display: flex;}

.slide{
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    animation: slide 10s infinite ease-in-out;
    
}

@keyframes slide{
      0%{left: 0px}
     20%{left: 0px;}
     30%{left: -100%;}
     50%{left: -100%;}
     60%{left: -200%;}
     90%{left: -200%;}
    100%{left: 0px;}

}

img{width: 100%;}

.mapa h2 {
    font-family: 'Garet', sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: #f5e6ca;
    margin-bottom: 20px;
    margin-left: 6px;
    margin: 1rem;
}

footer {
    background-color: #21231F; 
    color: #f5e6ca;
    padding: 2rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  footer p {
    font-family: 'Garet', sans-serif;
    font-weight: normal;
    font-size: 18px; 
    margin: 0; 
  }